.grid-template-columns {
	grid-template-columns:  200px 200px 200px 200px;
}
.item {
	margin: 5px;
    background-color: rgb(228, 228, 228);
	text-align: center;
	font-size: 1.5em;
}
.grid{
    display: grid;
    justify-content: center;
    
}
.pokemon{
    width: 800px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(157, 168, 233);
}
.pokemon{
    width: 800px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(157, 168, 233);
}
.pokemon h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.grid-template-columns1{
    grid-template-columns:  100px 100px;
    font-size: 16px;
}
.grid-template-columns-topo{
    grid-template-columns:  123px 12px ;

}
.grid-template-columns-filtro{
    grid-template-columns:  123px 123px 123px 123px 123px ;
}
.tipo-grama{
    background-color: green;
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-poison{
    background-color: rebeccapurple;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-fire{
    background-color: orangered;
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-flying{
    background-color: rgb(148, 232, 238);
    border-radius: 10px;
    margin-right: 10px;
    color: aliceblue;
}
.tipo-water{
    background-color: rgb(12, 107, 214);
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-bug{
    background-color: rgb(4, 160, 51);
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-normal{
    background-color: rgb(81, 82, 81);
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-eletrik{
    background-color: rgb(194, 181, 0);
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
.tipo-ground{
    background-color: rgb(105, 99, 9);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
}
.tipo-fairy{
    background-color: rgb(203, 65, 245);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
}
#searchbar{
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style:double;
    width: 200px;
    color: rgb(0, 0, 0);
    margin-top: 18px;
    margin-left: 100px;
    
}


.js .js-scroll-direita{
    opacity: 0;
    transform: translate3d(90px,0 , 0);
    transition: .3s;
}

.js .js-scroll-direita.ativo{
    opacity:1;
    transform: translate3d(0,0,0);
    transition: .3s;
}

.js .js-scroll-esquerda{
    opacity: 0;
    transform: translate3d(-90px,0 , 0);
    transition: .3s;
}

.js .js-scroll-esquerda.ativo{
    opacity:1;
    transform: translate3d(0,0,0);
    transition: .3s;
}

.js .js-scroll-centro{
    opacity: 0;
    transform: translate3d(0,90px , 0);
    transition: .3s;
}

.js .js-scroll-centro.ativo{
    opacity:1;
    transform: translate3d(0,0,0);
    transition: .3s;
}

